# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# other
dist/

# misc
.DS_Store
*.pem
**/ec2-bastion-key-pair
**/ec2-bastion-key-pair.*
trash/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
**.env
*.env.*
!**/*.env.example

# turbo
.turbo

# INFRASTRUCTURE
infrastructure/templates/task-def-migrate-seed.json
infrastructure/templates/task-definition-developmentenv-migrations-seeding.json

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which might contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version control
# as they are data points which are potentially sensitive and subject to change
# depending on the environment.
*.tfvars
aws-key/*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
